@using Blazor.Auth
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@page "/Logout"
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ((AuthStateProvide)AuthStateProvider).Logout();
        NavigationManager.NavigateTo("/");
    }
}
