@page "/profilePage"

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Din Profil</MudText>
    <MudText Typo="Typo.h5" Align="Align.Left">Indsæt username her</MudText>
    <MudPaper Class="pa-16 ma-2" Elevation="0">
        Kommende bookings
        <div class="text-right">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2">Se Alle</MudButton>
        </div>
    </MudPaper>
    <MudPaper Class="pa-16 ma-2" Elevation="3">
        Tidligere bookings
        <div class="text-right">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2">Se Alle</MudButton>
        </div>
    </MudPaper>
</MudContainer>
